<div class="grid grid-cols-12 gap-4">

  <div class="col-span-12 sm:col-span-6 lg:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Bibliotecas activas</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
            {{ bibliotecasActivas }}
          </div>
        </div>
        <div
          class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-building text-blue-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">+1 </span>
      <span class="text-muted-color">nueva esta semana</span>
    </div>
  </div>

  <div class="col-span-12 sm:col-span-6 lg:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Clientes activos</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
            {{ clientesActivos }}
          </div>
        </div>
        <div
          class="flex items-center justify-center bg-green-100 dark:bg-green-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-users text-green-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">+5 </span>
      <span class="text-muted-color">nuevos usuarios hoy</span>
    </div>
  </div>

  <div class="col-span-12 sm:col-span-6 lg:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Sedes activas</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
            {{ sedesActivas }}
          </div>
        </div>
        <div
          class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-map-marker text-orange-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">0 </span>
      <span class="text-muted-color">nuevas esta semana</span>
    </div>
  </div>

  <div class="col-span-12 sm:col-span-6 lg:col-span-3">
    <div class="card mb-0">
      <div class="flex justify-between mb-4">
        <div>
          <span class="block text-muted-color font-medium mb-4">Total préstamos</span>
          <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">
            {{ totalPrestamos }}
          </div>
        </div>
        <div
          class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-book text-purple-500 text-xl!"></i>
        </div>
      </div>
      <span class="text-primary font-medium">+3 </span>
      <span class="text-muted-color">nuevos préstamos hoy</span>
    </div>
  </div>
</div>
